.result-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .stats-container  {
        p{
            margin: 50px 0;
        }        
       
      }
      .problem-heading  {
        p
        {
            font-size: 52px;
        text-align: center;

        }
        
      }
  }
  
 
  
 
  